<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buyer Dashboard</title>
</head>
<body>

<h1 th:text="|Welcome, User ${buyer.name}!|">Placeholder</h1>
<h4 th:text="|Your role:${buyer.role}|">Placeholder</h4>
<h2>Agent Dashboard</h2>

<a th:href=@{/buyer/profile}>View Profile</a>
<br>
<a th:href=@{/buyer/listings}>Browse Listings</a>

<br>
<br>

<!--/*//TO-DO This logout button endpoint will need to be updated*/-->
<button></button><a th:href=@{/buyer/logout}>Logout</a></button>

</body>
</html>