<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Buyer Profile</title>
</head>
<body>
<h1>My Profile</h1>
<h5 th:text="|First Name:${buyer.firstName}|">Placeholder</h5>
<h5 th:text="|Last Name:${buyer.lastName}|">Placeholder</h5>
<h5 th:text="|Email:${buyer.email}|">Placeholder</h5>
<h5 th:text="|Role:${buyer.role}|">Placeholder</h5>


<!--/*//TO-DO This Edit profile button endpoint will need to be updated*/-->
<button></button><a th:href=@{/buyer/edit-profile}>Edit Profile</a></button>

<!--/*//TO-DO This Dashboard button endpoint will need to be updated*/-->
<button></button><a th:href=@{/buyer/dashboard}>Back to Dashboard</a></button>

</body>
</html>