<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1 th:text="${message}">Welcome to Dashboard</h1>
    <h4 th:text="${#authentication.name}">User</h4>
    <h2>Dashboard</h2>
    <br>
    <br>
    <ul>
        <li><a th:href="@{/profile}">My Profile</a></li>
        <!-- BUYERS -->
        <li sec:authorize="hasRole('BUYER')">
            <a th:href="@{/buyer/listings}">Browse Properties</a>
        </li>
        <!-- AGENTS -->
        <li sec:authorize="hasRole('AGENT')">
            <a th:href="@{/agent/listings/manage}">Manage Listings</a>
        </li>
        <li sec:authorize="hasRole('AGENT')">
            <a th:href="@{/agent/listings/create-new}">Create New Listing</a>
        </li>
        <!-- ADMINS -->
        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/admin/manage-users}">Manage Users</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/admin/create-agent}">Create Agent</a>
        </li>
    </ul>
    <li><a class="section-spacing" th:href="@{/landing-page/logout}">Log Out</a></li>
</body>
</html>