<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div id="landing-page-container">
        <h2>Welcome to HotProperties</h2>
        <p>Find your dream home or manage your listings with ease.</p>
        <div>
            <a th:href="@{/landing-page/login}">
                <button>Login</button>
            </a>
            <a th:href="@{/landing-page/register}">
                <button>Register</button>
            </a>
        </div>
    </div>
</form>
</body>
</html>