<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>User Management</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}" th:if="${user != null}">
        <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.role}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/admin/dashboard}">
    <button>Back to Dashboard</button>
</a>
</body>
</html>